@(posts: List[models.Posts], categoriesList: List[models.Categories])

@main(title = "Play Index") {

    <div class="row">
        <div class="col-md-8">

            <div class="page-header">
                <h1>Blog</h1>
                <p class="lead">Welcome on my blog</p>
            </div>

            @for(post <- posts) {
            <article>
                <h2><a href="@routes.Application.post(post.slug)">@post.name</a></h2>
                <p><small>
                    Category : <a href="@routes.Application.listPosts()">@post.category.name</a>,
                    by <a href="@routes.Application.listPosts()">@post.user.username</a> on <em>@post.getCreated()</em>
                </small></p>
                <p>@post.getResume(300)</p>
                <p class="text-right"><a href="@routes.Application.post(post.slug)" class="btn btn-primary">Read more...</a></p>
            </article>
            }

            <hr>

            <ul class="pagination">
                @pagination()
            </ul>
        </div>

        <div class="col-md-4 sidebar">

            <h4>Categories</h4>
            <div class="list-group">
                @categories(categoriesList)
            </div>

            <h4>Last posts</h4>
            <div class="list-group">
                <a href="post.html" class="list-group-item">
                    The Route of All Evil
                </a>
                <a href="post.html" class="list-group-item">
                    Good news everyone !
                </a>
            </div>
        </div><!-- /.sidebar -->
    </div>

}
